SIDEPS__1/MVCSIDEPS/Connected Services/srvDiaconia/srvDiaconia.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51032/srvDiaconia.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="Diaconia">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DiaconiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DiaconiaResult" nillable="true" type="q1:ArrayOfSIDEPS_04REGDIAC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="conDiaconias">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="conDiaconiasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="conDiaconiasResult" nillable="true" type="q2:ArrayOfSP_CON_REGDIAC_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="conDiaconiasXId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="conDiaconiasXIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="conDiaconiasXIdResult" nillable="true" type="q3:SP_CONXID_REGDIAC_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insDiaconia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pobjDiac" nillable="true" type="q4:SIDEPS_04REGDIAC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insDiaconiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insDiaconiaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modDiaconia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pobjDiac" nillable="true" type="q5:SIDEPS_04REGDIAC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modDiaconiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modDiaconiaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delDiaconia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pobjDiac" nillable="true" type="q6:SIDEPS_04REGDIAC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delDiaconiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delDiaconiaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>