SIDEPS__1/MVCSIDEPS/Connected Services/srvDiaconia/srvDiaconia.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="srvDiaconia" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51032/srvDiaconia.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51032/srvDiaconia.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51032/srvDiaconia.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IsrvDiaconia_Diaconia_InputMessage">
    <wsdl:part name="parameters" element="tns:Diaconia" />
  </wsdl:message>
  <wsdl:message name="IsrvDiaconia_Diaconia_OutputMessage">
    <wsdl:part name="parameters" element="tns:DiaconiaResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvDiaconia_conDiaconias_InputMessage">
    <wsdl:part name="parameters" element="tns:conDiaconias" />
  </wsdl:message>
  <wsdl:message name="IsrvDiaconia_conDiaconias_OutputMessage">
    <wsdl:part name="parameters" element="tns:conDiaconiasResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvDiaconia_conDiaconiasXId_InputMessage">
    <wsdl:part name="parameters" element="tns:conDiaconiasXId" />
  </wsdl:message>
  <wsdl:message name="IsrvDiaconia_conDiaconiasXId_OutputMessage">
    <wsdl:part name="parameters" element="tns:conDiaconiasXIdResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvDiaconia_insDiaconia_InputMessage">
    <wsdl:part name="parameters" element="tns:insDiaconia" />
  </wsdl:message>
  <wsdl:message name="IsrvDiaconia_insDiaconia_OutputMessage">
    <wsdl:part name="parameters" element="tns:insDiaconiaResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvDiaconia_modDiaconia_InputMessage">
    <wsdl:part name="parameters" element="tns:modDiaconia" />
  </wsdl:message>
  <wsdl:message name="IsrvDiaconia_modDiaconia_OutputMessage">
    <wsdl:part name="parameters" element="tns:modDiaconiaResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvDiaconia_delDiaconia_InputMessage">
    <wsdl:part name="parameters" element="tns:delDiaconia" />
  </wsdl:message>
  <wsdl:message name="IsrvDiaconia_delDiaconia_OutputMessage">
    <wsdl:part name="parameters" element="tns:delDiaconiaResponse" />
  </wsdl:message>
  <wsdl:portType name="IsrvDiaconia">
    <wsdl:operation name="Diaconia">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvDiaconia/Diaconia" message="tns:IsrvDiaconia_Diaconia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvDiaconia/DiaconiaResponse" message="tns:IsrvDiaconia_Diaconia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="conDiaconias">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvDiaconia/conDiaconias" message="tns:IsrvDiaconia_conDiaconias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvDiaconia/conDiaconiasResponse" message="tns:IsrvDiaconia_conDiaconias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="conDiaconiasXId">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvDiaconia/conDiaconiasXId" message="tns:IsrvDiaconia_conDiaconiasXId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvDiaconia/conDiaconiasXIdResponse" message="tns:IsrvDiaconia_conDiaconiasXId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insDiaconia">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvDiaconia/insDiaconia" message="tns:IsrvDiaconia_insDiaconia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvDiaconia/insDiaconiaResponse" message="tns:IsrvDiaconia_insDiaconia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modDiaconia">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvDiaconia/modDiaconia" message="tns:IsrvDiaconia_modDiaconia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvDiaconia/modDiaconiaResponse" message="tns:IsrvDiaconia_modDiaconia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delDiaconia">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvDiaconia/delDiaconia" message="tns:IsrvDiaconia_delDiaconia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvDiaconia/delDiaconiaResponse" message="tns:IsrvDiaconia_delDiaconia_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IsrvDiaconia" type="tns:IsrvDiaconia">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Diaconia">
      <soap:operation soapAction="http://tempuri.org/IsrvDiaconia/Diaconia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="conDiaconias">
      <soap:operation soapAction="http://tempuri.org/IsrvDiaconia/conDiaconias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="conDiaconiasXId">
      <soap:operation soapAction="http://tempuri.org/IsrvDiaconia/conDiaconiasXId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insDiaconia">
      <soap:operation soapAction="http://tempuri.org/IsrvDiaconia/insDiaconia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modDiaconia">
      <soap:operation soapAction="http://tempuri.org/IsrvDiaconia/modDiaconia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delDiaconia">
      <soap:operation soapAction="http://tempuri.org/IsrvDiaconia/delDiaconia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="srvDiaconia">
    <wsdl:port name="BasicHttpBinding_IsrvDiaconia" binding="tns:BasicHttpBinding_IsrvDiaconia">
      <soap:address location="http://localhost:51032/srvDiaconia.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>