SIDEPS/SIDEPS/Connected Services/ServiciosWCF/ServiciosWCF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50087/ServiciosWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="SP_Con_HistoricoCasos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="diaconia" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_HistoricoCasosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="SP_Con_HistoricoCasosResult" nillable="true" type="q1:ArrayOfSP_CON_HISTCASOS_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_DatosPersonales">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoCaso" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_DatosPersonalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="SP_Con_DatosPersonalesResult" nillable="true" type="q2:DETPERS_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_AspectoSalud">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoCaso" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_AspectoSaludResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="SP_Con_AspectoSaludResult" nillable="true" type="q3:DETASPS_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_Vivienda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoCaso" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_ViviendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="SP_Con_ViviendaResult" nillable="true" type="q4:DETVIVI_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_GrupoFamiliar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoCaso" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_GrupoFamiliarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="SP_Con_GrupoFamiliarResult" nillable="true" type="q5:ArrayOfDETFAML_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_Egresos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoCaso" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_EgresosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="SP_Con_EgresosResult" nillable="true" type="q6:DETEGRF_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_ObservacionesCaso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoCaso" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_ObservacionesCasoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SP_Con_ObservacionesCasoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Ins_Caso">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="caso" nillable="true" type="q7:SIDEPS_25REGCASO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Ins_CasoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SP_Ins_CasoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Mod_Caso">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="caso" nillable="true" type="q8:SIDEPS_25REGCASO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Mod_CasoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SP_Mod_CasoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Ins_Persona">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="persona" nillable="true" type="q9:SIDEPS_13REGPERS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Ins_PersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SP_Ins_PersonaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Ins_AspectoSalud">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="aspecto" nillable="true" type="q10:SIDEPS_16REGASPS" />
        <xs:element minOccurs="0" name="codigoCaso" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Ins_AspectoSaludResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SP_Ins_AspectoSaludResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Ins_Vivienda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="vivienda" nillable="true" type="q11:SIDEPS_20REGVIVI" />
        <xs:element minOccurs="0" name="codigoCaso" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Ins_ViviendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SP_Ins_ViviendaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Ins_MiembroFamiliar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="grupoFamiliar" nillable="true" type="q12:SIDEPS_22REGFAML" />
        <xs:element minOccurs="0" name="cedulaPersona" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Ins_MiembroFamiliarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SP_Ins_MiembroFamiliarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_MiembroFamiliarXid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cedFamiliar" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_MiembroFamiliarXidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="SP_Con_MiembroFamiliarXidResult" nillable="true" type="q13:SP_CONXID_REGFAML_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Del_MiembroFamiliarXid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cedFamiliar" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Del_MiembroFamiliarXidResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Mod_MiembroFamiliar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="miembroFamiliar" nillable="true" type="q14:SIDEPS_22REGFAML" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Mod_MiembroFamiliarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SP_Mod_MiembroFamiliarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConGrupoFamiliarXId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cedulaSolicitante" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConGrupoFamiliarXIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="ConGrupoFamiliarXIdResult" nillable="true" type="q15:ArrayOfSP_CON_REGFAML_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Ins_Egresos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="egresos" nillable="true" type="q16:SIDEPS_24REGEGRF" />
        <xs:element minOccurs="0" name="codigoCaso" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Ins_EgresosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SP_Ins_EgresosResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_Religiones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_ReligionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="SP_Con_ReligionesResult" nillable="true" type="q17:ArrayOfSP_CON_CATRELG_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_EstadosCivil">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_EstadosCivilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="SP_Con_EstadosCivilResult" nillable="true" type="q18:ArrayOfSP_CON_CATESTC_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_Cantones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_CantonesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="SP_Con_CantonesResult" nillable="true" type="q19:ArrayOfSP_CON_CATCANT_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_NivelEducativo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_NivelEducativoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="SP_Con_NivelEducativoResult" nillable="true" type="q20:ArrayOfSP_CON_CATNEDU_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_Pais">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_PaisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="SP_Con_PaisResult" nillable="true" type="q21:ArrayOfSP_CON_CATPAIS_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_Provincia">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_ProvinciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="SP_Con_ProvinciaResult" nillable="true" type="q22:ArrayOfSP_CON_CATPROV_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_TipoUsuario">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_TipoUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="SP_Con_TipoUsuarioResult" nillable="true" type="q23:ArrayOfSP_CON_TIPUSRO_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_CategoriaSolicitud">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_CategoriaSolicitudResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="SP_Con_CategoriaSolicitudResult" nillable="true" type="q24:ArrayOfSP_CON_CATSOLI_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_Parentescos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_ParentescosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="SP_Con_ParentescosResult" nillable="true" type="q25:ArrayOfSP_CON_CATPARE_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_Seguros">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_SegurosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="SP_Con_SegurosResult" nillable="true" type="q26:ArrayOfSP_CON_CATSEGU_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_Enfermedades">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_EnfermedadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="SP_Con_EnfermedadesResult" nillable="true" type="q27:ArrayOfSP_CON_CATENFR_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_Materiales">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_MaterialesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="SP_Con_MaterialesResult" nillable="true" type="q28:ArrayOfSP_CON_CATMATE_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_TipoVivienda">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_TipoViviendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="SP_Con_TipoViviendaResult" nillable="true" type="q29:ArrayOfSP_CON_TIPVIVI_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_EstadoVivienda">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_EstadoViviendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="SP_Con_EstadoViviendaResult" nillable="true" type="q30:ArrayOfSP_CON_ESTVIVI_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_Organizaciones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_OrganizacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="SP_Con_OrganizacionesResult" nillable="true" type="q31:ArrayOfSP_CON_CATORGS_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_CategoriasAyudas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_CategoriasAyudasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="SP_Con_CategoriasAyudasResult" nillable="true" type="q32:ArrayOfSP_CON_CATAYUD_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Diaconia">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DiaconiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DiaconiaResult" nillable="true" type="q33:ArrayOfSIDEPS_04REGDIAC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="conDiaconias">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="conDiaconiasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="conDiaconiasResult" nillable="true" type="q34:ArrayOfSP_CON_REGDIAC_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="conDiaconiasXId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="conDiaconiasXIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="conDiaconiasXIdResult" nillable="true" type="q35:SP_CONXID_REGDIAC_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insDiaconia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pobjDiac" nillable="true" type="q36:SIDEPS_04REGDIAC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insDiaconiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insDiaconiaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modDiaconia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pobjDiac" nillable="true" type="q37:SIDEPS_04REGDIAC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modDiaconiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modDiaconiaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delDiaconia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pobjDiac" nillable="true" type="q38:SIDEPS_04REGDIAC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delDiaconiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delDiaconiaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="UsuarioResult" nillable="true" type="q39:ArrayOfSIDEPS_07REGUSRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="conUsuario">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="conUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="conUsuarioResult" nillable="true" type="q40:ArrayOfSP_CON_REGUSRO_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="conUsuarioXId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="conUsuarioXIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="conUsuarioXIdResult" nillable="true" type="q41:SP_CONXID_REGUSRO_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="conUsuarioXCedula">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cedulaUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="conUsuarioXCedulaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="conUsuarioXCedulaResult" nillable="true" type="q42:SP_CONXID_REGUSRO_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pobjUsuario" nillable="true" type="q43:SIDEPS_07REGUSRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pobjUsuario" nillable="true" type="q44:SIDEPS_07REGUSRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pobjUsuario" nillable="true" type="q45:SIDEPS_07REGUSRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cedula" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasena" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConCaso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoCaso" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConCasoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="ConCasoResult" nillable="true" type="q46:SP_CON_CASOXID_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCaso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoCaso" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCasoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Ins_AyudasXCaso">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="ayudasAprobadas" nillable="true" type="q47:ArrayOfSIDEPS_27TIPAYUD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Ins_AyudasXCasoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SP_Ins_AyudasXCasoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_AyudasXcaso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoCaso" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_AyudasXcasoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="SP_Con_AyudasXcasoResult" nillable="true" type="q48:ArrayOfSP_CON_CATCASOAY_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>