SIDEPS/SIDEPS/Connected Services/ServiciosWCF/ServiciosWCF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50087/ServiciosWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="SP_Ins_Caso">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="caso" nillable="true" type="q1:SIDEPS_25REGCASO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Ins_CasoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SP_Ins_CasoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Mod_Caso">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="caso" nillable="true" type="q2:SIDEPS_25REGCASO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Mod_CasoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SP_Mod_CasoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Ins_Persona">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="persona" nillable="true" type="q3:SIDEPS_13REGPERS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Ins_PersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SP_Ins_PersonaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Ins_AspectoSalud">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="aspecto" nillable="true" type="q4:SIDEPS_16REGASPS" />
        <xs:element minOccurs="0" name="codigoCaso" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Ins_AspectoSaludResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SP_Ins_AspectoSaludResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Ins_Vivienda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="vivienda" nillable="true" type="q5:SIDEPS_20REGVIVI" />
        <xs:element minOccurs="0" name="codigoCaso" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Ins_ViviendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SP_Ins_ViviendaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Ins_MiembroFamiliar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="grupoFamiliar" nillable="true" type="q6:SIDEPS_22REGFAML" />
        <xs:element minOccurs="0" name="cedulaPersona" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Ins_MiembroFamiliarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SP_Ins_MiembroFamiliarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_MiembroFamiliarXid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cedFamiliar" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_MiembroFamiliarXidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="SP_Con_MiembroFamiliarXidResult" nillable="true" type="q7:SP_CONXID_REGFAML_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Del_MiembroFamiliarXid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cedFamiliar" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Del_MiembroFamiliarXidResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Mod_MiembroFamiliar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="miembroFamiliar" nillable="true" type="q8:SIDEPS_22REGFAML" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Mod_MiembroFamiliarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SP_Mod_MiembroFamiliarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConGrupoFamiliarXId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cedulaSolicitante" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConGrupoFamiliarXIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="ConGrupoFamiliarXIdResult" nillable="true" type="q9:ArrayOfSP_CON_REGFAML_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Ins_Egresos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="egresos" nillable="true" type="q10:SIDEPS_24REGEGRF" />
        <xs:element minOccurs="0" name="codigoCaso" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Ins_EgresosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SP_Ins_EgresosResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_Religiones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_ReligionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="SP_Con_ReligionesResult" nillable="true" type="q11:ArrayOfSP_CON_CATRELG_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_Cantones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_Con_CantonesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="SP_Con_CantonesResult" nillable="true" type="q12:ArrayOfSP_CON_CATCANT_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Diaconia">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DiaconiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="DiaconiaResult" nillable="true" type="q13:ArrayOfSIDEPS_04REGDIAC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="conDiaconias">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="conDiaconiasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="conDiaconiasResult" nillable="true" type="q14:ArrayOfSP_CON_REGDIAC_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="conDiaconiasXId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="conDiaconiasXIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="conDiaconiasXIdResult" nillable="true" type="q15:SP_CONXID_REGDIAC_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insDiaconia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pobjDiac" nillable="true" type="q16:SIDEPS_04REGDIAC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insDiaconiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insDiaconiaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modDiaconia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pobjDiac" nillable="true" type="q17:SIDEPS_04REGDIAC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modDiaconiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modDiaconiaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delDiaconia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pobjDiac" nillable="true" type="q18:SIDEPS_04REGDIAC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delDiaconiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delDiaconiaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="UsuarioResult" nillable="true" type="q19:ArrayOfSIDEPS_07REGUSRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="conUsuario">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="conUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="conUsuarioResult" nillable="true" type="q20:ArrayOfSP_CON_REGUSRO_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="conUsuarioXId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="conUsuarioXIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="conUsuarioXIdResult" nillable="true" type="q21:SP_CONXID_REGUSRO_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pobjUsuario" nillable="true" type="q22:SIDEPS_07REGUSRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pobjUsuario" nillable="true" type="q23:SIDEPS_07REGUSRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pobjUsuario" nillable="true" type="q24:SIDEPS_07REGUSRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cedula" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasena" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="LoginResult" nillable="true" type="q25:SIDEPS_07REGUSRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>