SIDEPS/SIDEPS/Connected Services/ServiciosWCF/ServiciosWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiciosWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50087/ServiciosWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50087/ServiciosWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50087/ServiciosWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiciosWCF_SP_Con_HistoricoCasos_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_HistoricoCasos" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_HistoricoCasos_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_HistoricoCasosResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_DatosPersonales_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_DatosPersonales" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_DatosPersonales_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_DatosPersonalesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_AspectoSalud_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_AspectoSalud" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_AspectoSalud_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_AspectoSaludResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_Vivienda_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_Vivienda" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_Vivienda_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_ViviendaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_GrupoFamiliar_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_GrupoFamiliar" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_GrupoFamiliar_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_GrupoFamiliarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_Egresos_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_Egresos" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_Egresos_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_EgresosResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_ObservacionesCaso_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_ObservacionesCaso" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_ObservacionesCaso_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_ObservacionesCasoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Ins_Caso_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_Ins_Caso" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Ins_Caso_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_Ins_CasoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Mod_Caso_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_Mod_Caso" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Mod_Caso_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_Mod_CasoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_InsMod_Persona_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_InsMod_Persona" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_InsMod_Persona_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_InsMod_PersonaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_InsMod_AspectoSalud_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_InsMod_AspectoSalud" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_InsMod_AspectoSalud_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_InsMod_AspectoSaludResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Ins_Vivienda_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_Ins_Vivienda" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Ins_Vivienda_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_Ins_ViviendaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Ins_MiembroFamiliar_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_Ins_MiembroFamiliar" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Ins_MiembroFamiliar_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_Ins_MiembroFamiliarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_MiembroFamiliarXid_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_MiembroFamiliarXid" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_MiembroFamiliarXid_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_MiembroFamiliarXidResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Del_MiembroFamiliarXid_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_Del_MiembroFamiliarXid" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Del_MiembroFamiliarXid_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_Del_MiembroFamiliarXidResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Mod_MiembroFamiliar_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_Mod_MiembroFamiliar" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Mod_MiembroFamiliar_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_Mod_MiembroFamiliarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_ConGrupoFamiliarXId_InputMessage">
    <wsdl:part name="parameters" element="tns:ConGrupoFamiliarXId" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_ConGrupoFamiliarXId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConGrupoFamiliarXIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Ins_Egresos_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_Ins_Egresos" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Ins_Egresos_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_Ins_EgresosResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_Religiones_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_Religiones" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_Religiones_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_ReligionesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_EstadosCivil_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_EstadosCivil" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_EstadosCivil_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_EstadosCivilResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_Cantones_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_Cantones" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_Cantones_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_CantonesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_NivelEducativo_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_NivelEducativo" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_NivelEducativo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_NivelEducativoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_Pais_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_Pais" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_Pais_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_PaisResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_Provincia_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_Provincia" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_Provincia_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_ProvinciaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_TipoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_TipoUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_TipoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_TipoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_CategoriaSolicitud_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_CategoriaSolicitud" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_CategoriaSolicitud_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_CategoriaSolicitudResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_Parentescos_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_Parentescos" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_Parentescos_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_ParentescosResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_Seguros_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_Seguros" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_Seguros_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_SegurosResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_Enfermedades_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_Enfermedades" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_Enfermedades_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_EnfermedadesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_Materiales_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_Materiales" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_Materiales_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_MaterialesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_TipoVivienda_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_TipoVivienda" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_TipoVivienda_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_TipoViviendaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_EstadoVivienda_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_EstadoVivienda" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_EstadoVivienda_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_EstadoViviendaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_Organizaciones_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_Organizaciones" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_Organizaciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_OrganizacionesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_CategoriasAyudas_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_CategoriasAyudas" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_CategoriasAyudas_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_CategoriasAyudasResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_Diaconia_InputMessage">
    <wsdl:part name="parameters" element="tns:Diaconia" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_Diaconia_OutputMessage">
    <wsdl:part name="parameters" element="tns:DiaconiaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_conDiaconias_InputMessage">
    <wsdl:part name="parameters" element="tns:conDiaconias" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_conDiaconias_OutputMessage">
    <wsdl:part name="parameters" element="tns:conDiaconiasResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_conDiaconiasXId_InputMessage">
    <wsdl:part name="parameters" element="tns:conDiaconiasXId" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_conDiaconiasXId_OutputMessage">
    <wsdl:part name="parameters" element="tns:conDiaconiasXIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_insDiaconia_InputMessage">
    <wsdl:part name="parameters" element="tns:insDiaconia" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_insDiaconia_OutputMessage">
    <wsdl:part name="parameters" element="tns:insDiaconiaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_modDiaconia_InputMessage">
    <wsdl:part name="parameters" element="tns:modDiaconia" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_modDiaconia_OutputMessage">
    <wsdl:part name="parameters" element="tns:modDiaconiaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_delDiaconia_InputMessage">
    <wsdl:part name="parameters" element="tns:delDiaconia" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_delDiaconia_OutputMessage">
    <wsdl:part name="parameters" element="tns:delDiaconiaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_Usuario_InputMessage">
    <wsdl:part name="parameters" element="tns:Usuario" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_Usuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:UsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_conUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:conUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_conUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:conUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_conUsuarioXId_InputMessage">
    <wsdl:part name="parameters" element="tns:conUsuarioXId" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_conUsuarioXId_OutputMessage">
    <wsdl:part name="parameters" element="tns:conUsuarioXIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_conUsuarioXCedula_InputMessage">
    <wsdl:part name="parameters" element="tns:conUsuarioXCedula" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_conUsuarioXCedula_OutputMessage">
    <wsdl:part name="parameters" element="tns:conUsuarioXCedulaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_insUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:insUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_insUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:insUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_modUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:modUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_modUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:modUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_delUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:delUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_delUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:delUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_ConCaso_InputMessage">
    <wsdl:part name="parameters" element="tns:ConCaso" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_ConCaso_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConCasoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_EliminarCaso_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCaso" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_EliminarCaso_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCasoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_InsMod_AyudasXCaso_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_InsMod_AyudasXCaso" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_InsMod_AyudasXCaso_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_InsMod_AyudasXCasoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_AyudasXcaso_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_AyudasXcaso" />
  </wsdl:message>
  <wsdl:message name="IServiciosWCF_SP_Con_AyudasXcaso_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_Con_AyudasXcasoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiciosWCF">
    <wsdl:operation name="SP_Con_HistoricoCasos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_HistoricoCasos" message="tns:IServiciosWCF_SP_Con_HistoricoCasos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_HistoricoCasosResponse" message="tns:IServiciosWCF_SP_Con_HistoricoCasos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_Con_DatosPersonales">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_DatosPersonales" message="tns:IServiciosWCF_SP_Con_DatosPersonales_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_DatosPersonalesResponse" message="tns:IServiciosWCF_SP_Con_DatosPersonales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_Con_AspectoSalud">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_AspectoSalud" message="tns:IServiciosWCF_SP_Con_AspectoSalud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_AspectoSaludResponse" message="tns:IServiciosWCF_SP_Con_AspectoSalud_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_Con_Vivienda">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_Vivienda" message="tns:IServiciosWCF_SP_Con_Vivienda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_ViviendaResponse" message="tns:IServiciosWCF_SP_Con_Vivienda_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_Con_GrupoFamiliar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_GrupoFamiliar" message="tns:IServiciosWCF_SP_Con_GrupoFamiliar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_GrupoFamiliarResponse" message="tns:IServiciosWCF_SP_Con_GrupoFamiliar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_Con_Egresos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_Egresos" message="tns:IServiciosWCF_SP_Con_Egresos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_EgresosResponse" message="tns:IServiciosWCF_SP_Con_Egresos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_Con_ObservacionesCaso">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_ObservacionesCaso" message="tns:IServiciosWCF_SP_Con_ObservacionesCaso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_ObservacionesCasoResponse" message="tns:IServiciosWCF_SP_Con_ObservacionesCaso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_Ins_Caso">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Ins_Caso" message="tns:IServiciosWCF_SP_Ins_Caso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Ins_CasoResponse" message="tns:IServiciosWCF_SP_Ins_Caso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_Mod_Caso">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Mod_Caso" message="tns:IServiciosWCF_SP_Mod_Caso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Mod_CasoResponse" message="tns:IServiciosWCF_SP_Mod_Caso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_InsMod_Persona">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/SP_InsMod_Persona" message="tns:IServiciosWCF_SP_InsMod_Persona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/SP_InsMod_PersonaResponse" message="tns:IServiciosWCF_SP_InsMod_Persona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_InsMod_AspectoSalud">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/SP_InsMod_AspectoSalud" message="tns:IServiciosWCF_SP_InsMod_AspectoSalud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/SP_InsMod_AspectoSaludResponse" message="tns:IServiciosWCF_SP_InsMod_AspectoSalud_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_Ins_Vivienda">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Ins_Vivienda" message="tns:IServiciosWCF_SP_Ins_Vivienda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Ins_ViviendaResponse" message="tns:IServiciosWCF_SP_Ins_Vivienda_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_Ins_MiembroFamiliar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Ins_MiembroFamiliar" message="tns:IServiciosWCF_SP_Ins_MiembroFamiliar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Ins_MiembroFamiliarResponse" message="tns:IServiciosWCF_SP_Ins_MiembroFamiliar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_Con_MiembroFamiliarXid">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_MiembroFamiliarXid" message="tns:IServiciosWCF_SP_Con_MiembroFamiliarXid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_MiembroFamiliarXidResponse" message="tns:IServiciosWCF_SP_Con_MiembroFamiliarXid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_Del_MiembroFamiliarXid">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Del_MiembroFamiliarXid" message="tns:IServiciosWCF_SP_Del_MiembroFamiliarXid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Del_MiembroFamiliarXidResponse" message="tns:IServiciosWCF_SP_Del_MiembroFamiliarXid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_Mod_MiembroFamiliar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Mod_MiembroFamiliar" message="tns:IServiciosWCF_SP_Mod_MiembroFamiliar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Mod_MiembroFamiliarResponse" message="tns:IServiciosWCF_SP_Mod_MiembroFamiliar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConGrupoFamiliarXId">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/ConGrupoFamiliarXId" message="tns:IServiciosWCF_ConGrupoFamiliarXId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/ConGrupoFamiliarXIdResponse" message="tns:IServiciosWCF_ConGrupoFamiliarXId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_Ins_Egresos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Ins_Egresos" message="tns:IServiciosWCF_SP_Ins_Egresos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Ins_EgresosResponse" message="tns:IServiciosWCF_SP_Ins_Egresos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_Con_Religiones">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_Religiones" message="tns:IServiciosWCF_SP_Con_Religiones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_ReligionesResponse" message="tns:IServiciosWCF_SP_Con_Religiones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_Con_EstadosCivil">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_EstadosCivil" message="tns:IServiciosWCF_SP_Con_EstadosCivil_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_EstadosCivilResponse" message="tns:IServiciosWCF_SP_Con_EstadosCivil_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_Con_Cantones">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_Cantones" message="tns:IServiciosWCF_SP_Con_Cantones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_CantonesResponse" message="tns:IServiciosWCF_SP_Con_Cantones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_Con_NivelEducativo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_NivelEducativo" message="tns:IServiciosWCF_SP_Con_NivelEducativo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_NivelEducativoResponse" message="tns:IServiciosWCF_SP_Con_NivelEducativo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_Con_Pais">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_Pais" message="tns:IServiciosWCF_SP_Con_Pais_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_PaisResponse" message="tns:IServiciosWCF_SP_Con_Pais_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_Con_Provincia">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_Provincia" message="tns:IServiciosWCF_SP_Con_Provincia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_ProvinciaResponse" message="tns:IServiciosWCF_SP_Con_Provincia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_Con_TipoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_TipoUsuario" message="tns:IServiciosWCF_SP_Con_TipoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_TipoUsuarioResponse" message="tns:IServiciosWCF_SP_Con_TipoUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_Con_CategoriaSolicitud">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_CategoriaSolicitud" message="tns:IServiciosWCF_SP_Con_CategoriaSolicitud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_CategoriaSolicitudResponse" message="tns:IServiciosWCF_SP_Con_CategoriaSolicitud_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_Con_Parentescos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_Parentescos" message="tns:IServiciosWCF_SP_Con_Parentescos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_ParentescosResponse" message="tns:IServiciosWCF_SP_Con_Parentescos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_Con_Seguros">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_Seguros" message="tns:IServiciosWCF_SP_Con_Seguros_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_SegurosResponse" message="tns:IServiciosWCF_SP_Con_Seguros_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_Con_Enfermedades">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_Enfermedades" message="tns:IServiciosWCF_SP_Con_Enfermedades_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_EnfermedadesResponse" message="tns:IServiciosWCF_SP_Con_Enfermedades_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_Con_Materiales">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_Materiales" message="tns:IServiciosWCF_SP_Con_Materiales_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_MaterialesResponse" message="tns:IServiciosWCF_SP_Con_Materiales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_Con_TipoVivienda">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_TipoVivienda" message="tns:IServiciosWCF_SP_Con_TipoVivienda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_TipoViviendaResponse" message="tns:IServiciosWCF_SP_Con_TipoVivienda_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_Con_EstadoVivienda">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_EstadoVivienda" message="tns:IServiciosWCF_SP_Con_EstadoVivienda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_EstadoViviendaResponse" message="tns:IServiciosWCF_SP_Con_EstadoVivienda_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_Con_Organizaciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_Organizaciones" message="tns:IServiciosWCF_SP_Con_Organizaciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_OrganizacionesResponse" message="tns:IServiciosWCF_SP_Con_Organizaciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_Con_CategoriasAyudas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_CategoriasAyudas" message="tns:IServiciosWCF_SP_Con_CategoriasAyudas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_CategoriasAyudasResponse" message="tns:IServiciosWCF_SP_Con_CategoriasAyudas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Diaconia">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/Diaconia" message="tns:IServiciosWCF_Diaconia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/DiaconiaResponse" message="tns:IServiciosWCF_Diaconia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="conDiaconias">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/conDiaconias" message="tns:IServiciosWCF_conDiaconias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/conDiaconiasResponse" message="tns:IServiciosWCF_conDiaconias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="conDiaconiasXId">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/conDiaconiasXId" message="tns:IServiciosWCF_conDiaconiasXId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/conDiaconiasXIdResponse" message="tns:IServiciosWCF_conDiaconiasXId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insDiaconia">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/insDiaconia" message="tns:IServiciosWCF_insDiaconia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/insDiaconiaResponse" message="tns:IServiciosWCF_insDiaconia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modDiaconia">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/modDiaconia" message="tns:IServiciosWCF_modDiaconia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/modDiaconiaResponse" message="tns:IServiciosWCF_modDiaconia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delDiaconia">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/delDiaconia" message="tns:IServiciosWCF_delDiaconia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/delDiaconiaResponse" message="tns:IServiciosWCF_delDiaconia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Usuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/Usuario" message="tns:IServiciosWCF_Usuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/UsuarioResponse" message="tns:IServiciosWCF_Usuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="conUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/conUsuario" message="tns:IServiciosWCF_conUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/conUsuarioResponse" message="tns:IServiciosWCF_conUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="conUsuarioXId">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/conUsuarioXId" message="tns:IServiciosWCF_conUsuarioXId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/conUsuarioXIdResponse" message="tns:IServiciosWCF_conUsuarioXId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="conUsuarioXCedula">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/conUsuarioXCedula" message="tns:IServiciosWCF_conUsuarioXCedula_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/conUsuarioXCedulaResponse" message="tns:IServiciosWCF_conUsuarioXCedula_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/insUsuario" message="tns:IServiciosWCF_insUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/insUsuarioResponse" message="tns:IServiciosWCF_insUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/modUsuario" message="tns:IServiciosWCF_modUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/modUsuarioResponse" message="tns:IServiciosWCF_modUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/delUsuario" message="tns:IServiciosWCF_delUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/delUsuarioResponse" message="tns:IServiciosWCF_delUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/Login" message="tns:IServiciosWCF_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/LoginResponse" message="tns:IServiciosWCF_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConCaso">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/ConCaso" message="tns:IServiciosWCF_ConCaso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/ConCasoResponse" message="tns:IServiciosWCF_ConCaso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarCaso">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/EliminarCaso" message="tns:IServiciosWCF_EliminarCaso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/EliminarCasoResponse" message="tns:IServiciosWCF_EliminarCaso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_InsMod_AyudasXCaso">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/SP_InsMod_AyudasXCaso" message="tns:IServiciosWCF_SP_InsMod_AyudasXCaso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/SP_InsMod_AyudasXCasoResponse" message="tns:IServiciosWCF_SP_InsMod_AyudasXCaso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_Con_AyudasXcaso">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_AyudasXcaso" message="tns:IServiciosWCF_SP_Con_AyudasXcaso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosWCF/SP_Con_AyudasXcasoResponse" message="tns:IServiciosWCF_SP_Con_AyudasXcaso_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiciosWCF" type="tns:IServiciosWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SP_Con_HistoricoCasos">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/SP_Con_HistoricoCasos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_Con_DatosPersonales">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/SP_Con_DatosPersonales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_Con_AspectoSalud">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/SP_Con_AspectoSalud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_Con_Vivienda">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/SP_Con_Vivienda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_Con_GrupoFamiliar">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/SP_Con_GrupoFamiliar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_Con_Egresos">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/SP_Con_Egresos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_Con_ObservacionesCaso">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/SP_Con_ObservacionesCaso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_Ins_Caso">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/SP_Ins_Caso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_Mod_Caso">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/SP_Mod_Caso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_InsMod_Persona">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/SP_InsMod_Persona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_InsMod_AspectoSalud">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/SP_InsMod_AspectoSalud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_Ins_Vivienda">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/SP_Ins_Vivienda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_Ins_MiembroFamiliar">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/SP_Ins_MiembroFamiliar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_Con_MiembroFamiliarXid">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/SP_Con_MiembroFamiliarXid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_Del_MiembroFamiliarXid">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/SP_Del_MiembroFamiliarXid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_Mod_MiembroFamiliar">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/SP_Mod_MiembroFamiliar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConGrupoFamiliarXId">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/ConGrupoFamiliarXId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_Ins_Egresos">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/SP_Ins_Egresos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_Con_Religiones">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/SP_Con_Religiones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_Con_EstadosCivil">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/SP_Con_EstadosCivil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_Con_Cantones">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/SP_Con_Cantones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_Con_NivelEducativo">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/SP_Con_NivelEducativo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_Con_Pais">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/SP_Con_Pais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_Con_Provincia">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/SP_Con_Provincia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_Con_TipoUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/SP_Con_TipoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_Con_CategoriaSolicitud">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/SP_Con_CategoriaSolicitud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_Con_Parentescos">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/SP_Con_Parentescos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_Con_Seguros">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/SP_Con_Seguros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_Con_Enfermedades">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/SP_Con_Enfermedades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_Con_Materiales">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/SP_Con_Materiales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_Con_TipoVivienda">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/SP_Con_TipoVivienda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_Con_EstadoVivienda">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/SP_Con_EstadoVivienda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_Con_Organizaciones">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/SP_Con_Organizaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_Con_CategoriasAyudas">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/SP_Con_CategoriasAyudas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Diaconia">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/Diaconia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="conDiaconias">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/conDiaconias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="conDiaconiasXId">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/conDiaconiasXId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insDiaconia">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/insDiaconia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modDiaconia">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/modDiaconia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delDiaconia">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/delDiaconia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Usuario">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/Usuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="conUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/conUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="conUsuarioXId">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/conUsuarioXId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="conUsuarioXCedula">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/conUsuarioXCedula" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/insUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/modUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/delUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConCaso">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/ConCaso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCaso">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/EliminarCaso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_InsMod_AyudasXCaso">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/SP_InsMod_AyudasXCaso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_Con_AyudasXcaso">
      <soap:operation soapAction="http://tempuri.org/IServiciosWCF/SP_Con_AyudasXcaso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiciosWCF">
    <wsdl:port name="BasicHttpBinding_IServiciosWCF" binding="tns:BasicHttpBinding_IServiciosWCF">
      <soap:address location="http://localhost:50087/ServiciosWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>