SIDEPS_2/mvcWebSIDEPS_2/Connected Services/srvUsuarios/srvUsuarios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="srvUsuarios" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50596/srvUsuarios.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50596/srvUsuarios.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50596/srvUsuarios.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IsrvUsuarios_Usuario_InputMessage">
    <wsdl:part name="parameters" element="tns:Usuario" />
  </wsdl:message>
  <wsdl:message name="IsrvUsuarios_Usuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:UsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvUsuarios_conUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:conUsuario" />
  </wsdl:message>
  <wsdl:message name="IsrvUsuarios_conUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:conUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvUsuarios_conUsuarioXId_InputMessage">
    <wsdl:part name="parameters" element="tns:conUsuarioXId" />
  </wsdl:message>
  <wsdl:message name="IsrvUsuarios_conUsuarioXId_OutputMessage">
    <wsdl:part name="parameters" element="tns:conUsuarioXIdResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvUsuarios_insUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:insUsuario" />
  </wsdl:message>
  <wsdl:message name="IsrvUsuarios_insUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:insUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvUsuarios_modUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:modUsuario" />
  </wsdl:message>
  <wsdl:message name="IsrvUsuarios_modUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:modUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvUsuarios_delUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:delUsuario" />
  </wsdl:message>
  <wsdl:message name="IsrvUsuarios_delUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:delUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IsrvUsuarios">
    <wsdl:operation name="Usuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvUsuarios/Usuario" message="tns:IsrvUsuarios_Usuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvUsuarios/UsuarioResponse" message="tns:IsrvUsuarios_Usuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="conUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvUsuarios/conUsuario" message="tns:IsrvUsuarios_conUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvUsuarios/conUsuarioResponse" message="tns:IsrvUsuarios_conUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="conUsuarioXId">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvUsuarios/conUsuarioXId" message="tns:IsrvUsuarios_conUsuarioXId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvUsuarios/conUsuarioXIdResponse" message="tns:IsrvUsuarios_conUsuarioXId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvUsuarios/insUsuario" message="tns:IsrvUsuarios_insUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvUsuarios/insUsuarioResponse" message="tns:IsrvUsuarios_insUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvUsuarios/modUsuario" message="tns:IsrvUsuarios_modUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvUsuarios/modUsuarioResponse" message="tns:IsrvUsuarios_modUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvUsuarios/delUsuario" message="tns:IsrvUsuarios_delUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvUsuarios/delUsuarioResponse" message="tns:IsrvUsuarios_delUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IsrvUsuarios" type="tns:IsrvUsuarios">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Usuario">
      <soap:operation soapAction="http://tempuri.org/IsrvUsuarios/Usuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="conUsuario">
      <soap:operation soapAction="http://tempuri.org/IsrvUsuarios/conUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="conUsuarioXId">
      <soap:operation soapAction="http://tempuri.org/IsrvUsuarios/conUsuarioXId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insUsuario">
      <soap:operation soapAction="http://tempuri.org/IsrvUsuarios/insUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modUsuario">
      <soap:operation soapAction="http://tempuri.org/IsrvUsuarios/modUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delUsuario">
      <soap:operation soapAction="http://tempuri.org/IsrvUsuarios/delUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="srvUsuarios">
    <wsdl:port name="BasicHttpBinding_IsrvUsuarios" binding="tns:BasicHttpBinding_IsrvUsuarios">
      <soap:address location="http://localhost:50596/srvUsuarios.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>