SIDEPS/SIDEPS/Connected Services/WCFServices/CasosSvc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SIDEPS_25REGCASO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CEDPERS13" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CEDUSRO07" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODASPS16" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CODCASO25" type="xs:int" />
      <xs:element minOccurs="0" name="CODEGRF24" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CODVIVI20" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DESCASO25" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTCASO25" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FEFCASO25" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FEICASO25" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OPICASO25" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SIDEPS_07REGUSRO" nillable="true" type="tns:SIDEPS_07REGUSRO" />
      <xs:element minOccurs="0" name="SIDEPS_13REGPERS" nillable="true" type="tns:SIDEPS_13REGPERS" />
      <xs:element minOccurs="0" name="SIDEPS_16REGASPS" nillable="true" type="tns:SIDEPS_16REGASPS" />
      <xs:element minOccurs="0" name="SIDEPS_20REGVIVI" nillable="true" type="tns:SIDEPS_20REGVIVI" />
      <xs:element minOccurs="0" name="SIDEPS_24REGEGRF" nillable="true" type="tns:SIDEPS_24REGEGRF" />
      <xs:element minOccurs="0" name="SIDEPS_27TIPAYUD" nillable="true" type="tns:ArrayOfSIDEPS_27TIPAYUD" />
      <xs:element minOccurs="0" name="SIDEPS_28REGHIS" nillable="true" type="tns:ArrayOfSIDEPS_28REGHIS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SIDEPS_25REGCASO" nillable="true" type="tns:SIDEPS_25REGCASO" />
  <xs:complexType name="SIDEPS_07REGUSRO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CEDUSRO07" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CNTUSRO07" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODCANT03" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CODDIAC04" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CODUSRO05" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DIRUSRO07" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTUSRO07" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FEFUSRO07" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FEIUSRO07" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FENUSRO07" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NACUSRO07" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMUSRO07" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PAPUSRO07" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SAPUSRO07" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SIDEPS_03CATCANT" nillable="true" type="tns:SIDEPS_03CATCANT" />
      <xs:element minOccurs="0" name="SIDEPS_04REGDIAC" nillable="true" type="tns:SIDEPS_04REGDIAC" />
      <xs:element minOccurs="0" name="SIDEPS_05TIPUSRO" nillable="true" type="tns:SIDEPS_05TIPUSRO" />
      <xs:element minOccurs="0" name="SIDEPS_08REGTELF" nillable="true" type="tns:ArrayOfSIDEPS_08REGTELF" />
      <xs:element minOccurs="0" name="SIDEPS_25REGCASO" nillable="true" type="tns:ArrayOfSIDEPS_25REGCASO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SIDEPS_07REGUSRO" nillable="true" type="tns:SIDEPS_07REGUSRO" />
  <xs:complexType name="SIDEPS_03CATCANT">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODCANT03" type="xs:int" />
      <xs:element minOccurs="0" name="CODPROV02" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NOMCANT03" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SIDEPS_02CATPROV" nillable="true" type="tns:SIDEPS_02CATPROV" />
      <xs:element minOccurs="0" name="SIDEPS_04REGDIAC" nillable="true" type="tns:ArrayOfSIDEPS_04REGDIAC" />
      <xs:element minOccurs="0" name="SIDEPS_07REGUSRO" nillable="true" type="tns:ArrayOfSIDEPS_07REGUSRO" />
      <xs:element minOccurs="0" name="SIDEPS_13REGPERS" nillable="true" type="tns:ArrayOfSIDEPS_13REGPERS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SIDEPS_03CATCANT" nillable="true" type="tns:SIDEPS_03CATCANT" />
  <xs:complexType name="SIDEPS_02CATPROV">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODPAIS01" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CODPROV02" type="xs:int" />
      <xs:element minOccurs="0" name="NOMPROV02" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SIDEPS_01CATPAIS" nillable="true" type="tns:SIDEPS_01CATPAIS" />
      <xs:element minOccurs="0" name="SIDEPS_03CATCANT" nillable="true" type="tns:ArrayOfSIDEPS_03CATCANT" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SIDEPS_02CATPROV" nillable="true" type="tns:SIDEPS_02CATPROV" />
  <xs:complexType name="SIDEPS_01CATPAIS">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODPAIS01" type="xs:int" />
      <xs:element minOccurs="0" name="NOMPAIS01" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SIDEPS_02CATPROV" nillable="true" type="tns:ArrayOfSIDEPS_02CATPROV" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SIDEPS_01CATPAIS" nillable="true" type="tns:SIDEPS_01CATPAIS" />
  <xs:complexType name="ArrayOfSIDEPS_02CATPROV">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SIDEPS_02CATPROV" nillable="true" type="tns:SIDEPS_02CATPROV" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSIDEPS_02CATPROV" nillable="true" type="tns:ArrayOfSIDEPS_02CATPROV" />
  <xs:complexType name="ArrayOfSIDEPS_03CATCANT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SIDEPS_03CATCANT" nillable="true" type="tns:SIDEPS_03CATCANT" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSIDEPS_03CATCANT" nillable="true" type="tns:ArrayOfSIDEPS_03CATCANT" />
  <xs:complexType name="ArrayOfSIDEPS_04REGDIAC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SIDEPS_04REGDIAC" nillable="true" type="tns:SIDEPS_04REGDIAC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSIDEPS_04REGDIAC" nillable="true" type="tns:ArrayOfSIDEPS_04REGDIAC" />
  <xs:complexType name="SIDEPS_04REGDIAC">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODCANT03" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CODDIAC04" type="xs:int" />
      <xs:element minOccurs="0" name="ESTDIAC04" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LUGDIAC04" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMDIAC04" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SIDEPS_03CATCANT" nillable="true" type="tns:SIDEPS_03CATCANT" />
      <xs:element minOccurs="0" name="SIDEPS_07REGUSRO" nillable="true" type="tns:ArrayOfSIDEPS_07REGUSRO" />
      <xs:element minOccurs="0" name="TELDIAC04" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SIDEPS_04REGDIAC" nillable="true" type="tns:SIDEPS_04REGDIAC" />
  <xs:complexType name="ArrayOfSIDEPS_07REGUSRO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SIDEPS_07REGUSRO" nillable="true" type="tns:SIDEPS_07REGUSRO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSIDEPS_07REGUSRO" nillable="true" type="tns:ArrayOfSIDEPS_07REGUSRO" />
  <xs:complexType name="ArrayOfSIDEPS_13REGPERS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SIDEPS_13REGPERS" nillable="true" type="tns:SIDEPS_13REGPERS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSIDEPS_13REGPERS" nillable="true" type="tns:ArrayOfSIDEPS_13REGPERS" />
  <xs:complexType name="SIDEPS_13REGPERS">
    <xs:sequence>
      <xs:element minOccurs="0" name="CEDPERS13" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODCANT03" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CODESTC06" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CODNEDU09" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CODRELG11" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CODSOLI10" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DIRPERS13" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NACPERS13" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMPERS13" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OACPERS13" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OANPERS13" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PAPPERS13" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SAPPERS13" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SIDEPS_03CATCANT" nillable="true" type="tns:SIDEPS_03CATCANT" />
      <xs:element minOccurs="0" name="SIDEPS_06CATESTC" nillable="true" type="tns:SIDEPS_06CATESTC" />
      <xs:element minOccurs="0" name="SIDEPS_09CATNEDU" nillable="true" type="tns:SIDEPS_09CATNEDU" />
      <xs:element minOccurs="0" name="SIDEPS_10CATSOLI" nillable="true" type="tns:SIDEPS_10CATSOLI" />
      <xs:element minOccurs="0" name="SIDEPS_11CATRELG" nillable="true" type="tns:SIDEPS_11CATRELG" />
      <xs:element minOccurs="0" name="SIDEPS_16REGASPS" nillable="true" type="tns:ArrayOfSIDEPS_16REGASPS" />
      <xs:element minOccurs="0" name="SIDEPS_23CATFINA" nillable="true" type="tns:ArrayOfSIDEPS_23CATFINA" />
      <xs:element minOccurs="0" name="SIDEPS_25REGCASO" nillable="true" type="tns:ArrayOfSIDEPS_25REGCASO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SIDEPS_13REGPERS" nillable="true" type="tns:SIDEPS_13REGPERS" />
  <xs:complexType name="SIDEPS_06CATESTC">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODESTC06" type="xs:int" />
      <xs:element minOccurs="0" name="DESESTC06" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SIDEPS_13REGPERS" nillable="true" type="tns:ArrayOfSIDEPS_13REGPERS" />
      <xs:element minOccurs="0" name="SIDEPS_22REGFAML" nillable="true" type="tns:ArrayOfSIDEPS_22REGFAML" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SIDEPS_06CATESTC" nillable="true" type="tns:SIDEPS_06CATESTC" />
  <xs:complexType name="ArrayOfSIDEPS_22REGFAML">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SIDEPS_22REGFAML" nillable="true" type="tns:SIDEPS_22REGFAML" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSIDEPS_22REGFAML" nillable="true" type="tns:ArrayOfSIDEPS_22REGFAML" />
  <xs:complexType name="SIDEPS_22REGFAML">
    <xs:sequence>
      <xs:element minOccurs="0" name="CEDFAML22" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODENFR15" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CODESTC06" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CODNEDU09" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CODORGS21" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CODPARE12" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DESFAML22" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EDAFAML22" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="INGFAML22" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="NOMFAML22" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OACFAML22" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SIDEPS_06CATESTC" nillable="true" type="tns:SIDEPS_06CATESTC" />
      <xs:element minOccurs="0" name="SIDEPS_09CATNEDU" nillable="true" type="tns:SIDEPS_09CATNEDU" />
      <xs:element minOccurs="0" name="SIDEPS_12CATPARE" nillable="true" type="tns:SIDEPS_12CATPARE" />
      <xs:element minOccurs="0" name="SIDEPS_15CATENFR" nillable="true" type="tns:SIDEPS_15CATENFR" />
      <xs:element minOccurs="0" name="SIDEPS_21CATORGS" nillable="true" type="tns:SIDEPS_21CATORGS" />
      <xs:element minOccurs="0" name="SIDEPS_23CATFINA" nillable="true" type="tns:ArrayOfSIDEPS_23CATFINA" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SIDEPS_22REGFAML" nillable="true" type="tns:SIDEPS_22REGFAML" />
  <xs:complexType name="SIDEPS_09CATNEDU">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODNEDU09" type="xs:int" />
      <xs:element minOccurs="0" name="DESNEDU09" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SIDEPS_13REGPERS" nillable="true" type="tns:ArrayOfSIDEPS_13REGPERS" />
      <xs:element minOccurs="0" name="SIDEPS_22REGFAML" nillable="true" type="tns:ArrayOfSIDEPS_22REGFAML" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SIDEPS_09CATNEDU" nillable="true" type="tns:SIDEPS_09CATNEDU" />
  <xs:complexType name="SIDEPS_12CATPARE">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODPARE12" type="xs:int" />
      <xs:element minOccurs="0" name="DESPARE12" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SIDEPS_22REGFAML" nillable="true" type="tns:ArrayOfSIDEPS_22REGFAML" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SIDEPS_12CATPARE" nillable="true" type="tns:SIDEPS_12CATPARE" />
  <xs:complexType name="SIDEPS_15CATENFR">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODENFR15" type="xs:int" />
      <xs:element minOccurs="0" name="DESENFR15" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SIDEPS_16REGASPS" nillable="true" type="tns:ArrayOfSIDEPS_16REGASPS" />
      <xs:element minOccurs="0" name="SIDEPS_22REGFAML" nillable="true" type="tns:ArrayOfSIDEPS_22REGFAML" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SIDEPS_15CATENFR" nillable="true" type="tns:SIDEPS_15CATENFR" />
  <xs:complexType name="ArrayOfSIDEPS_16REGASPS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SIDEPS_16REGASPS" nillable="true" type="tns:SIDEPS_16REGASPS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSIDEPS_16REGASPS" nillable="true" type="tns:ArrayOfSIDEPS_16REGASPS" />
  <xs:complexType name="SIDEPS_16REGASPS">
    <xs:sequence>
      <xs:element minOccurs="0" name="CEDPERS13" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODASPS16" type="xs:int" />
      <xs:element minOccurs="0" name="CODENFR15" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CODSEGU14" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DESENFR16" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DESTRAT16" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RECTRAT16" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SIDEPS_13REGPERS" nillable="true" type="tns:SIDEPS_13REGPERS" />
      <xs:element minOccurs="0" name="SIDEPS_14CATSEGU" nillable="true" type="tns:SIDEPS_14CATSEGU" />
      <xs:element minOccurs="0" name="SIDEPS_15CATENFR" nillable="true" type="tns:SIDEPS_15CATENFR" />
      <xs:element minOccurs="0" name="SIDEPS_25REGCASO" nillable="true" type="tns:ArrayOfSIDEPS_25REGCASO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SIDEPS_16REGASPS" nillable="true" type="tns:SIDEPS_16REGASPS" />
  <xs:complexType name="SIDEPS_14CATSEGU">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODSEGU14" type="xs:int" />
      <xs:element minOccurs="0" name="DESSEGU14" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SIDEPS_16REGASPS" nillable="true" type="tns:ArrayOfSIDEPS_16REGASPS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SIDEPS_14CATSEGU" nillable="true" type="tns:SIDEPS_14CATSEGU" />
  <xs:complexType name="ArrayOfSIDEPS_25REGCASO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SIDEPS_25REGCASO" nillable="true" type="tns:SIDEPS_25REGCASO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSIDEPS_25REGCASO" nillable="true" type="tns:ArrayOfSIDEPS_25REGCASO" />
  <xs:complexType name="SIDEPS_21CATORGS">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODORGS21" type="xs:int" />
      <xs:element minOccurs="0" name="DESORGS21" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SIDEPS_22REGFAML" nillable="true" type="tns:ArrayOfSIDEPS_22REGFAML" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SIDEPS_21CATORGS" nillable="true" type="tns:SIDEPS_21CATORGS" />
  <xs:complexType name="ArrayOfSIDEPS_23CATFINA">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SIDEPS_23CATFINA" nillable="true" type="tns:SIDEPS_23CATFINA" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSIDEPS_23CATFINA" nillable="true" type="tns:ArrayOfSIDEPS_23CATFINA" />
  <xs:complexType name="SIDEPS_23CATFINA">
    <xs:sequence>
      <xs:element minOccurs="0" name="CEDFAML22" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CEDPERS13" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODFINA23" type="xs:int" />
      <xs:element minOccurs="0" name="SIDEPS_13REGPERS" nillable="true" type="tns:SIDEPS_13REGPERS" />
      <xs:element minOccurs="0" name="SIDEPS_22REGFAML" nillable="true" type="tns:SIDEPS_22REGFAML" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SIDEPS_23CATFINA" nillable="true" type="tns:SIDEPS_23CATFINA" />
  <xs:complexType name="SIDEPS_10CATSOLI">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODSOLI10" type="xs:int" />
      <xs:element minOccurs="0" name="DESSOLI10" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SIDEPS_13REGPERS" nillable="true" type="tns:ArrayOfSIDEPS_13REGPERS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SIDEPS_10CATSOLI" nillable="true" type="tns:SIDEPS_10CATSOLI" />
  <xs:complexType name="SIDEPS_11CATRELG">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODRELG11" type="xs:int" />
      <xs:element minOccurs="0" name="DESRELG11" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SIDEPS_13REGPERS" nillable="true" type="tns:ArrayOfSIDEPS_13REGPERS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SIDEPS_11CATRELG" nillable="true" type="tns:SIDEPS_11CATRELG" />
  <xs:complexType name="SIDEPS_05TIPUSRO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODUSRO05" type="xs:int" />
      <xs:element minOccurs="0" name="DESUSRO05" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SIDEPS_07REGUSRO" nillable="true" type="tns:ArrayOfSIDEPS_07REGUSRO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SIDEPS_05TIPUSRO" nillable="true" type="tns:SIDEPS_05TIPUSRO" />
  <xs:complexType name="ArrayOfSIDEPS_08REGTELF">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SIDEPS_08REGTELF" nillable="true" type="tns:SIDEPS_08REGTELF" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSIDEPS_08REGTELF" nillable="true" type="tns:ArrayOfSIDEPS_08REGTELF" />
  <xs:complexType name="SIDEPS_08REGTELF">
    <xs:sequence>
      <xs:element minOccurs="0" name="CEDUSRO07" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODTELF08" type="xs:int" />
      <xs:element minOccurs="0" name="NUMTELF08" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SIDEPS_07REGUSRO" nillable="true" type="tns:SIDEPS_07REGUSRO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SIDEPS_08REGTELF" nillable="true" type="tns:SIDEPS_08REGTELF" />
  <xs:complexType name="SIDEPS_20REGVIVI">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODESTV19" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CODMATE17" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CODTIPV18" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CODVIVI20" type="xs:int" />
      <xs:element minOccurs="0" name="MTOVIVI20" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="NAPVIVI20" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SIDEPS_17CATMATE" nillable="true" type="tns:SIDEPS_17CATMATE" />
      <xs:element minOccurs="0" name="SIDEPS_18TIPVIVI" nillable="true" type="tns:SIDEPS_18TIPVIVI" />
      <xs:element minOccurs="0" name="SIDEPS_19ESTVIVI" nillable="true" type="tns:SIDEPS_19ESTVIVI" />
      <xs:element minOccurs="0" name="SIDEPS_25REGCASO" nillable="true" type="tns:ArrayOfSIDEPS_25REGCASO" />
      <xs:element minOccurs="0" name="SRBVIVI20" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SRCVIVI20" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SREVIVI20" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SRIVIVI20" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SRLVIVI20" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SRMVIVI20" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SIDEPS_20REGVIVI" nillable="true" type="tns:SIDEPS_20REGVIVI" />
  <xs:complexType name="SIDEPS_17CATMATE">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODMATE17" type="xs:int" />
      <xs:element minOccurs="0" name="DESMATE17" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SIDEPS_20REGVIVI" nillable="true" type="tns:ArrayOfSIDEPS_20REGVIVI" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SIDEPS_17CATMATE" nillable="true" type="tns:SIDEPS_17CATMATE" />
  <xs:complexType name="ArrayOfSIDEPS_20REGVIVI">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SIDEPS_20REGVIVI" nillable="true" type="tns:SIDEPS_20REGVIVI" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSIDEPS_20REGVIVI" nillable="true" type="tns:ArrayOfSIDEPS_20REGVIVI" />
  <xs:complexType name="SIDEPS_18TIPVIVI">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODTIPV18" type="xs:int" />
      <xs:element minOccurs="0" name="DESTIPV18" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SIDEPS_20REGVIVI" nillable="true" type="tns:ArrayOfSIDEPS_20REGVIVI" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SIDEPS_18TIPVIVI" nillable="true" type="tns:SIDEPS_18TIPVIVI" />
  <xs:complexType name="SIDEPS_19ESTVIVI">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODESTV19" type="xs:int" />
      <xs:element minOccurs="0" name="DESESTV19" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SIDEPS_20REGVIVI" nillable="true" type="tns:ArrayOfSIDEPS_20REGVIVI" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SIDEPS_19ESTVIVI" nillable="true" type="tns:SIDEPS_19ESTVIVI" />
  <xs:complexType name="SIDEPS_24REGEGRF">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODEGRF24" type="xs:int" />
      <xs:element minOccurs="0" name="MTCAGUA24" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MTOALIM24" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MTOALQU24" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MTOCABL24" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MTOEDUC24" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MTOELEC24" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MTOGAST24" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MTOINTE24" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MTOOTRO24" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MTOSEGU24" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MTOTELF24" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SIDEPS_25REGCASO" nillable="true" type="tns:ArrayOfSIDEPS_25REGCASO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SIDEPS_24REGEGRF" nillable="true" type="tns:SIDEPS_24REGEGRF" />
  <xs:complexType name="ArrayOfSIDEPS_27TIPAYUD">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SIDEPS_27TIPAYUD" nillable="true" type="tns:SIDEPS_27TIPAYUD" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSIDEPS_27TIPAYUD" nillable="true" type="tns:ArrayOfSIDEPS_27TIPAYUD" />
  <xs:complexType name="SIDEPS_27TIPAYUD">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODAYUD26" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CODCASO25" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CODTIPA27" type="xs:int" />
      <xs:element minOccurs="0" name="SIDEPS_25REGCASO" nillable="true" type="tns:SIDEPS_25REGCASO" />
      <xs:element minOccurs="0" name="SIDEPS_26CATAYUD" nillable="true" type="tns:SIDEPS_26CATAYUD" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SIDEPS_27TIPAYUD" nillable="true" type="tns:SIDEPS_27TIPAYUD" />
  <xs:complexType name="SIDEPS_26CATAYUD">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODAYUD26" type="xs:int" />
      <xs:element minOccurs="0" name="DESAYUD26" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SIDEPS_27TIPAYUD" nillable="true" type="tns:ArrayOfSIDEPS_27TIPAYUD" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SIDEPS_26CATAYUD" nillable="true" type="tns:SIDEPS_26CATAYUD" />
  <xs:complexType name="ArrayOfSIDEPS_28REGHIS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SIDEPS_28REGHIS" nillable="true" type="tns:SIDEPS_28REGHIS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSIDEPS_28REGHIS" nillable="true" type="tns:ArrayOfSIDEPS_28REGHIS" />
  <xs:complexType name="SIDEPS_28REGHIS">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODCASO25" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CODHIST28" type="xs:int" />
      <xs:element minOccurs="0" name="DESCASO28" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTCASO28" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FECACTU28" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FECCASO28" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SIDEPS_25REGCASO" nillable="true" type="tns:SIDEPS_25REGCASO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SIDEPS_28REGHIS" nillable="true" type="tns:SIDEPS_28REGHIS" />
</xs:schema>